<% if(success) { %>
    <div class="flash-message">
        <p><%= success %></p>
    </div>
<% } %>

<% if(failure) { %>
    <div class="flash-message">
        <p><%= failure %></p>
    </div>
<% } %>