<% layout("layouts/boilerplate") -%>

    <h1>AUTH DEMO</h1>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <div>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </div>
