<% layout("layouts/boilerplate") -%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-body">
                <H1 class="card-title">Hi <%= userName %>,</H1>
                <p>U can only view this page because u are logged in !!</p>
            </div>
            <div class="card-footer text-body-secondary">
                    <form action="/logout" class="d-inline" method="post">
                        <button class="btn btn-success">Logout</button>
                    </form>
                <a class="btn btn-secondary" target="_blank" href="https://github.com/1998tapan/">Find me on Github</a>
            </div>
        </div>
    </div>   
</div>
