<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SECRET</title>
</head>
<body>
    <H1>Hi <%= userName %>,</H1>
    <p>U can only view this page because u are logged in !!</p>
    <div>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </div>
</body>
</html>