<% layout("layouts/boilerplate") -%>
    <H1>Hi <%= userName %>,</H1>
    <p>U can only view this page because u are logged in !!</p>
    <div>
        <form action="/logout" method="post">
            <button>Logout</button>
        </form>
    </div>
